<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- पूरी तरह local/offline app: dependency द्वारा जोड़ी गई INTERNET permission भी हटाई गई -->
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:theme="@style/AppTheme"
        android:label="Sanchit Passport Photo"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true">

        <activity
            android:name="com.sanchit.passportphoto.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
