<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sfb_app_icon_v2"
        android:label="STS Fast Browser"
        android:roundIcon="@drawable/sfb_app_icon_v2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ImageViewerActivity"
            android:exported="true"
            android:documentLaunchMode="always"
            android:taskAffinity="${applicationId}.image"
            android:launchMode="standard"
            android:excludeFromRecents="false"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".PdfViewerActivity"
            android:exported="true"
            android:documentLaunchMode="always"
            android:taskAffinity="${applicationId}.pdf"
            android:launchMode="standard"
            android:excludeFromRecents="false"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".OfficeViewerActivity"
            android:exported="true"
            android:documentLaunchMode="always"
            android:taskAffinity="${applicationId}.office"
            android:launchMode="standard"
            android:excludeFromRecents="false"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".MediaPlayerActivity"
            android:exported="true"
            android:documentLaunchMode="always"
            android:taskAffinity="${applicationId}.media"
            android:launchMode="standard"
            android:excludeFromRecents="false"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden" />

        <activity
            android:name=".IntentRouterActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified">

            <!-- Open with: files supplied as content:// or file:// with MIME type -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- Open with: files where the sending app does not provide a MIME type -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>

            <!-- Edit with -->
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>

            <!-- Share to STS Fast Browser: single and multiple files, plus text/links -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider
            android:name=".PdfShareProvider"
            android:authorities="${applicationId}.pdfshare"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
